{
  "parserOptions": {
    "ecmaVersion": 6,
    "ecmaFeatures": {
      "experimentalObjectRestSpread": true
    }
  },
  "rules": {
    "indent": [
      "warn",
      2
    ],
    "semi": [
      "warn",
      "always"
    ]
  }
}